body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, Arial;
    background-color: hsl(235, 18%, 26%);
    font-size:16px;
    font-weight: 450;

}

.parent{
    display: flex;
    width:900px;
    
    background-color: hsl(0, 0%, 100%);
    padding-top:16px;
    padding-bottom:16px;
    justify-content: space-around;
    padding-left:25px;
    border-radius: 10px;
}
.newsletter-image img{
    width:370px;
}
.newsletter-content{
    display: flex;
    flex-direction: column;
    
    width: 370px;
    padding-top:50px;
    justify-content: space-between;
    padding-bottom: 100px;
    

}
.heading{
    
    font-size:50px;
    font-weight: 700;
    
}


.properties{
    display: flex;
    flex-direction: row;
    
    
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    
}
.list-icon{
    margin-bottom: 10px;
}

.list{
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
}
.list-content{
    margin-bottom: 10px;
    margin-left:8px;
}

.email{
    font-weight: 600;
    margin-bottom:12px;
}

.form input{
    padding:15px;
    border-radius: 5px;
    width: 300px;
    border:1px solid gray;
    

}

.button button{
    margin-top:20px;
    background-color: black;
    color:white;
    padding-left:65px;
    padding-right:65px;
    padding-top:17px;
    padding-bottom:17px;
    border:none ;
    border-radius:6.6px;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.15s ease-in-out;


}
.button button:hover{
    background-color: rgba(173, 79, 79, 0.916);
    box-shadow: 10px 10px 30px rgba(255, 0, 0, 0.594);
}

.outer-box{
    display: flex;
    flex-direction: column;
    width:400px;
    background-color: white;
   
    padding-top:35px;
    padding-bottom:35px;
    margin-top:7%;
    border-radius: 16px;
    
}
.others{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message{
    width:300px;
    margin-top:15px;
    margin-bottom: 10px;
    font-weight: 400;

}

.outer-box .heading{
    margin-top:10px;
    width:300px;
}

.checkbox{
    margin-left:30px;
}
.checkbox img{
    width:50px;
}



